@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    border-radius: 20px;
    font-size: 17px;
}
a:hover{
    background-color: rgb(250, 203, 203);
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.header {
    width: 100%;
    height: 90px;
    background-color: #fcadb2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.menu {
    display: flex;
    gap: 0.5rem;
}

.menu a {
    display: block;
    padding: .9rem;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px) {
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top:90px;
        text-align: center;
        right: 0;
        background-color: #fcadb2;
        height: 0px;
        transition: .6s;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden;
    }

    .nav.active .menu {
        height: calc(100vh - 90px);
        visibility:visible;
        /* overflow: auto; */
    }

    .menu a {
        font-size: 18px;
        font-weight: bold;
        padding: 1rem;
        margin:2rem 3rem;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    .hamburguer{
        border-top: 2px solid;
        width: 20px;
    }

    .hamburguer::after, .hamburguer::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    .nav.active .hamburguer {
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }
    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}