@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 225, 225);
}

h1 {
    padding: 10px;
    background-image: linear-gradient(#e1e4e3, #0464f3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 900px;
    padding: 12px;
}

.galery {
    display: flex;
    flex-flow: row nowrap ;
    gap: 15px;
}

.galery-wraper {
    overflow-x: auto;
}

.galery-wraper::-webkit-scrollbar {
    display: none;
}
.galery-wraper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.card {
    text-align: center;
    padding: 10px;
}


.item {
    height: 300px;
    width: 380px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: .5s;
}

#next {
    /* width: 50px;
    height: 50px; */
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    border-radius:100px;
    background:linear-gradient(to right, transparent 0%, #d3d4d4 150%);
    opacity: .8;
    transition: .3s;
}

#next:hover {
    opacity: 1;
    color: #0464f3;
}

.current {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.1);
}
